.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://d28c6jni2fmamz.cloudfront.net/plans_family_6ca6cd2a02.jpg');
    background-size: cover;
    filter: opacity(0.8); /* Adjust opacity as needed */
    z-index: -1;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

/* Additional styles */
#formBasicEmail:focus,
#formBasicPassword:focus,
#formBasicUsername:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  
